/* Original Scheme 
$easytoreadcolor: #fbf5e6;
$headingcolor: #00303F;
$fontcolor: blue;
$activecolor: yellow;
$hovercolor: green; 
*/

// $papercolor: #fbfbf8; // not used
/* Other white colors: https://encycolorpedia.com/fdf5e8 */

$Teracotta: #945D60;
$Herb: #626E60;
$Chile: #AF473C;
$Charcoal: #3C3C3C;
/* https://www.canva.com/learn/website-color-schemes/ Earthy and Fresh #1 */
$papercolor: #fbfbf8;
$headingcolor: $Charcoal;
$fontcolor: $Chile;
$activecolor: $Teracotta;
$hovercolor: $Herb;

/* https://www.canva.com/learn/website-color-schemes/ Earthy and Fresh #2 */
// $papercolor: #fbfbf8;
// $headingcolor: $Charcoal;
// $fontcolor: $Herb;
// $activecolor:  $Teracotta;
// $hovercolor: $Chile;

/* https://www.susannerieker.com/10-color-schemes-for-your-wellness-or-yoga-website/ 
  Power Yoga*/
// I prefer Earthy and Fresh #1 to this
// $papercolor: #F4F5F6;
// $headingcolor: #221F20;
// $fontcolor: #B82677;
// $activecolor:  #A9D2CC;
// $hovercolor: #EC7545;

$weakfontcolor: $fontcolor/2; 

body {
  background-color: $papercolor;
  font-family: Arial;
  color: $fontcolor;
}

h1,h1+h5,h2+h5,h6 {
  text-align: center;
  color: $headingcolor;
}

h2 {
  @extend h1;
  font-size: 1.5em;
  font-weight: bold;
}

summary {
  @extend h2;
  text-align: left;
  transition: 0.4s;
  color: $headingcolor
}

ul {list-style-type: none;
  padding-left: 0;
}

a:link {
  color: $fontcolor;
}

a:visited {
  color: $fontcolor;
}

a:hover {
  color: $hovercolor;
}

a:active {
  color: $activecolor;
}

/* From https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

.toRepeat {
  border: 2px solid black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  margin-top: .5em;
}

.flex-container>div {
  margin-right: .5em;
}

.workout-form:active {
  color: $activecolor;
}

.workout-form:hover {
  color: $hovercolor;
}

.no_repeat { //Fix this and hover properties
  color: $weakfontcolor;
  font-weight:100;
  font-size:smaller;
}

.plus_button {
  cursor: pointer;
  // color: red; //used to verify where this class is called
}

.tooltip {
  position: relative;
  display: inline-block;
  // border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: smaller;

  /* Position the tooltip */
  position: absolute;
  top: -20px; left: 20px;
  z-index: 1;
} 

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.TODO {
  color: red
} 

.error {
  color: red
} 